<div *ngIf="loading">
  loading data....

</div>
<div *ngIf="!loading">
  
<nav aria-label="breadcrumb mt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/pokemon']" >Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Pokemon</li>
    </ol>
  </nav>
<div *ngIf="Pokemon.length !== 0">
  <!-- <h3 class="mb-3">Pokemon List</h3> -->
  
  <div class="col-md-8">
      <div class="search-hero float-left">
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching by name ">
        </div>
    <div class="mb-3 float-right">
        <app-pagination [totalPage]="totalPage" [currentPage]="currentPage" [paginateNext] = "Pokemon.next"
        [paginatePrev] = "Pokemon.previous" (selectedPage)="selectedPageListender($event)"></app-pagination>
    </div>
  <table class="table table-bordered">
  <thead>
  <tr>
  <th scope="col">Name</th>
  <th scope="col">Details</th>
  </tr>
  </thead>
  <tbody>
  <tr (click)="getDetails(pokemon.name)" *ngFor="let pokemon of Pokemon.results| filter:searchText">
  <td>{{pokemon.name}}</td>
  <td><a (click)="getDetails(pokemon.name)"  href="JavaScript:Void(0)"> Deatils</a></td>
  </tr>
  </tbody>
  </table>
  </div>
  </div>


</div>
